<%= f.alert_message "Please fix the errors below." %>

<%= f.text_field :name %>
<%= f.text_field :url %>
<%= f.select :big_category_id, BigCategory.all.map{|t| [t.name, t.id]}, {}, {:onchange => 'load_small_categories()'} %>
<%= f.select :small_category_id, '' %>

<%= f.primary "Submit" %>
<%= link_to "Cancel", admin_sites_path, :class => 'btn btn-default' %>

<script type="text/javascript">
  $(document).ready(function(){
    load_small_categories();
  });

  function load_small_categories() {
    $.ajax({
      type: "GET",
      url: "<%= admin_load_small_categories_path %>",
      data: {big_category_id: $("#site_big_category_id").val()},
      success: function(data, textStatus, xhr) {
        $("#site_small_category_id").empty();
        for (var small_category in data.file_content) {
          $("#site_small_category_id").append('<option value="'+data.file_content[small_category].id+'">'+data.file_content[small_category].name+'</option>');
          <% if !params[:small_category_id].nil? %>
            if(data.file_content[small_category].id == <%= params[:small_category_id] %>){
              $("#site_small_category_id option[value='"+data.file_content[small_category].id+"']").attr("selected", "selected");
            }
          <% end %>
        }
      }
    });
  }
</script>